{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


    <style>
        body{
            background-color: #9a1750;
        }
        .navbar-custom { 
            background-color: #5d001e; 
        }        
        .jumbotron{
            background-color: #e3afbc;
            color: #5d001e;
            font-size: 30px;
            /* background-color:transparent !important; */
        }
        .container{
            margin-top: 150px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-custom">
        <h1 class="navbar-brand" style="color: lightcyan;">Zomato</h1>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <h3><a class="nav-link" style="color: lightcyan;" href="{% url 'zomato:home' %}">Home <span class="sr-only">(current)</span></a></h3>
                </li>
                <li class="nav-item">
                    <h3><a class="nav-link" style="color: lightcyan;" href="{% url 'zomato:feeds' %}">Feeds</a></h3>
                </li>
                <li class="nav-item my-2 my-lg-0" id="profile">
                    <h3><a class="nav-link" style="color: lightcyan;" href="{% url 'zomato:profile' %}">Profile</a></h3>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid text-center">
        <div class="jumbotron text-center">
            <h1>Your Post has been placed successfully</h1>
            <h3>Thank You for placing post with us</h3>
        </div>
    </div>
</body>
</html>